<div style="display: flex;gap:30px;">
  <div class="card" style="width: 18rem">
    <button type="button" class="btn btn-warning" style="margin: 8px 20px 0px">
      Actively hiring <img src="trend.png" style="width: 25px" />
    </button>
  
    <div class="card-body">
      <h5 class="card-title">Coding Ninajs</h5>
      <p class="card-text">Tech SDE</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Place</li>
      <li class="list-group-item">Package</li>
      <li class="list-group-item">
        <button type="button" class="btn btn-outline-primary">Info</button>
        <button type="button" class="btn btn-outline-primary">Info</button>
      </li>
    </ul>
    <div class="card-body">
      <a href="/job-details" class="btn btn-info">View Details</a>
    </div>
  </div>
  
</div>

